{% extends "template.njk" %}

{% block main %}
    <main id="main">
        <section class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>Impressum</h2>
                    <ol>
                        <li>
                            <a href="/index.njk">Home</a>
                        </li>
                        <li>Impressum</li>
                    </ol>
                </div>
            </div>
        </section>
        <section class="inner-page">
            <div class="container">
                <h3>Diensteanbieter</h3>
                <p>Förderverein First Responder in der Gemeinde Berg e. V.<br>Wolfratshauser Str. 15<br>82335 Berg<br>Germany</p>
                <h3>Kontaktmöglichkeiten</h3>
                <p>
                    <strong>E-Mail-Adresse:</strong>
                    <a href="mailto:vorstand@ffrgb.de">vorstand@ffrgb.de</a>
                </p>
                <h3>Register und Registernummer</h3>
                <p>Vereinsregister geführt bei Amtsgericht München (Nummer: 7137)</p>
            </br>
            <p>
                <a href="https://datenschutz-generator.de/?l=de" title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank" rel="noopener noreferrer nofollow">
                    Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas Schwenke
                </a>
            </p>
        </div>
    </section>
</main>
{% endblock %}