{% extends "template.njk" %}

{% block main %}
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Herzlich Willkommen</h1>
          <h2>Förderverein First Responder in der Gemeinde Berg e. V.</h2>
          <div>
            <a href="../docs/mitgliedsantrag.pdf" class="btn-get-started scrollto" target="_blank">Mitglied werden</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="../img/welcome.jpeg" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>
  </section>
  <main id="main">
    <section id="about" class="about">
      <div class="container">
        <div class="section-title">
          <h2>Über Uns</h2>
        </div>
        <div class="row content">
          <div class="col-lg-6">
            <p>
              Der Förderverein First Responder in der Gemeinde Berg e. V. setzt sich seit seiner Gründung im November 2002 mit all seinen Mitteln 
              und Kräften für die notfallmedizinische Erstversorgung der BürgerInnen der Gemeinde Berg ein. Neben der First Responder Tätigkeit ist 
              uns die Verbesserung der medizinischen Ausrüstung in unserer Gegend ein großes Anliegen. Dafür werden kontinuierlich neue 
              Ausrüstungsgegenstände beschafft. 
            </p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Zu unserem Engagement zählt auch die kontinuierliche Fort- und Weiterbildung der Einsatzkräfte. Außerdem bildet die Ausbildung in 
              Erster Hilfe und deren Auffrischung einen weiteren Schwerpunkt unseres Engagements. In der Vergangenheit wurde die Allgemeinbildung in 
              der Ersten Hilfe kontinuierlich an die Bürger:innen der Gemeinde Berg herangetragen.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="counts" class="counts">
      <div class="container">
        <div class="row">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start">
            <img src="../img/counter-img.jpeg" alt="" class="img-fluid">
          </div>
          <div class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0">
            <div class="content d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-emoji-smile"></i>
                    <span data-purecounter-start="0" data-purecounter-end="3869" data-purecounter-duration="3" class="purecounter"></span>
                    <p>
                      <strong>Bereitschaftstunden</strong> der First-Responder Crew im Jahr 2020 trotz COVID-19.</p>
                  </div>
                </div>
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-journal-richtext"></i>
                    <span data-purecounter-start="0" data-purecounter-end="346" data-purecounter-duration="2" class="purecounter"></span>
                    <p>
                      Mal wurde der First Responder im letzten Jahr zu <strong>Einsätzen</strong> alarmiert.
                    </p>
                  </div>
                </div>
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-clock"></i>
                    <span data-purecounter-start="0" data-purecounter-end="140" data-purecounter-duration="1" class="purecounter"></span>
                    <p>
                      <strong>Mitglieder</strong> unterstützen den Fördervereins First Responder in der Gemeinde Berg e.V.</p>
                  </div>
                </div>
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-award"></i>
                    <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1" class="purecounter"></span>
                    <p>
                      <strong>First Reponder</strong> als Gemeinschaftsprojekt aller fünf Feuerwehren der Gemeinde Berg.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="services" class="services">
      <div class="container">
        <div class="section-title">
          <h2>Aufgaben</h2>
          <p>
            Die ortsansässigen Rettungshelfer:innen verkürzen durch die Nähe zum Einsatzort das sog. <strong>Therapiefreie Intervall</strong> vom 
            Eintritt des Notfalls bis zum Eintreffen der Rettungskräfte. Die kurzen Wege zum Einsatzort ermöglichen eine Einsparung von bis zu 31 Minuten, 
            sodass diese kritische Zeitspanne minimiert werden kann. Insbesondere bei lebensbedrohlichen Erkrankungen, wie beispielsweise 
            Herz-/Kreislaufstillständen, kritischen Atemproblemen oder starken Blutungen zählt jede Sekunde!
          </p>
          <p>
            Weiterhin unterstützen und entlasten die qualifizierten Kräfte den Notarzt bzw. den Rettungsdienst am Einsatzort. Beispielsweise durch 
            vorbereitende Diagnostik, eine strukturierte Patientenübergabe, die Durchführung basis-therapeutischer Maßnahmen oder die Unterstützung 
            bei Lagerung und Transport der Patienten. Wir helfen die Effektivität und Effizienz des Einsatzablaufs zu optimieren.
        </p>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon">
                <i class="bx bxs-ambulance"></i>
              </div>
              <h4 class="title">Notfallmedizin</h4>
              <p class="description">Schnelle qualifizierte Hilfe bei Notfalleinsätzen im Gemeindegebiet Berg und der näheren Umgebung.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon">
                <i class="bx bxs-book-alt"></i>
              </div>
              <h4 class="title">Fort- und Weiterbildung</h4>
              <p class="description">Kontinuierliche Fortbildung aller aktiven Fahrer:innen des First Responder durch Übungen und Vorträge von Ärzt:innen.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon">
                <i class="bx bx-plus-medical"></i>
              </div>
              <h4 class="title">Öffentlichkeitsarbeit</h4>
              <p class="description">Ansprechpartner für alle Bürger:innen in Belange der Ersten Hilfe.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon">
                <i class="bx bx-wrench"></i>
              </div>
              <h4 class="title">Ausrüstung</h4>
              <p class="description">Fachliche und finanzielle Unterstützung bei Beschaffungen der Ausrüstung.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="features" class="features">
      <div class="container">
        <div class="section-title">
          <h2>Fortbildungen</h2>
          <p>Um den Anforderungen gerecht zu werden, nehmen unsere Mitglieder regelmäßigen an Fortbildungen mit folgenden Schwerpunkten teil:</p>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">
              <h3>Reanimation</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <h3>Kardiale Notfälle</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <h3>Infektion / Desinfektion</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <h3>Vergiftungen</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <h3>Anatomie und Physiologie des Atmungssystems</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <h3>Kindernotfälle</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <h3>Anatomie und Physiologie des Nervensystems</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <h3>Thermische Notfälle</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <h3>Anatomie und Physiologie des Herz-Kreislaufsystems</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <h3>Traumatologie</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <h3>Praktische Fallbeispiele</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <h3>Rechtskunde / Organisation im Rettungsdienst</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="contact" class="contact">
      <div class="container">
        <div class="section-title">
          <h2>Kontakt</h2>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <h3>KONTAKTIEREN SIE UNS</h3>
            <p>
              Falls Sie uns eine Nachricht hinterlassen wollen, senden Sie uns eine E-Mail an <a href="mailto:vorstand@ffrgb.de">vorstand@ffrgb.de</a>. 
              Ihrer Anfrage wird so schnell wie möglich beantwortet.
            </p>
          </div>
          <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
            <h3>KONTAKTDATEN</h3>
            <div class="info">
              <div>
                <i class="ri-map-pin-line"></i>
                <p>FFRGBeV<br>Michael Fuchs<br>Wolfratshauser Str. 15<br>82335 Berg</p>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-12">
            <h3>SOZIALE KONTAKTE</h3>
            <div class="info">
              <div>
                <i class="ri-mail-send-line"></i>
                <p>vorstand@ffrgb.de</p>
              </div>
              <div>
                <i class="ri-rss-line"></i>
                <p>ffrgb.de</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}